.introduction{
  background-image: url(images/background.png);
  min-height: 100vh;
  width: 100%;
  background-position: center; 
  background-size: cover
}

.intro-title{
  text-align: center;
  padding-top: 150px;
  font-size: 60px;
  font-family: 'Rowdies', cursive;
  font-weight: bold;
}
.intro-paragraph{
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}